{% extends 'dashboard/dashboard.twig' %}
  {% block page_content %}
    <div class="w3-container">
      <h1 class="w3-center">Categorias</h1>
    </div>
    {% if response != '' %}
      <div class="w3-panel w3-yellow">
        <h2>Notificacion</h2>
        <p>{{response}}</p>
      </div>
    {% endif %}
    <button onclick="accordion('addCategory')" class="w3-button w3-block w3-teal">Agregar una nueva categoria</button>
    <div class="w3-hide w3-animation-opacity" id="addCategory">
      <form class="" action="/dashboard/category/add" method="post" enctype="multipart/form-data">

        <input class="w3-input " type="text" placeholder="Nombre de la Categoria" name="category_name" required>
        <textarea class="w3-input w3-border " name="category_description"rows="3" placeholder="Descripcion..." required style="resize:none"></textarea>
        <label for="_category_background"></label>
        <input class="w3-input" id="category_background" name="category_background" type="file">
        <input class="w3-button w3-margin-top w3-block w3-blue w3-holder-grey w3-margin-bottom" type="submit" class="w3-button" value="Agregar">

      </form>
    </div>

    {% set first = true %}
    {% set icono = 'fa fa-times' %}
    {% set action = 'Desactivar' %}

    <div class="w3-panel w3-blue">
      <h3 class="w3-center">Categorias Activas</h3>
    </div>

    <table class="w3-table w3-bordered">
      <tr class="">
        <th class="">Nombre</th>
        <th class="w3-center">Eliminar</th>
      </tr>
      {% for category in categories %}

        {% if ( (category.category_active == 0) and (first) ) %}

          {% set first = false %}
          {% set icono = 'fa fa-home'%}
          {% set action = 'Activar'%}

          </table>
          <div class="w3-panel w3-red">
            <h3 class="w3-center">Categorias Inactivas</h3>
          </div>
          <table class="w3-table w3-bordered">
          <tr class="">
            <th class="">Nombre</th>
            <th class="w3-center">{{ action }}</th>
          </tr>
        {% endif %}

        <tr>
          <td class="">{{ category.name }}</td>
          <td class="w3-center w3-large"><a  href="/dashboard/category/act-rm/{{ category.id_category }}"><i class="{{ icono }}"></i></a></td>
        </tr>
      {% endfor %}
    </table>
  {% endblock %}
