{% extends "public/layout.twig" %}

  {% block head_content %}
      <title>{{ post.title }}</title>
  {% endblock %}

  {% block page_content %}
      <!-- Header -->
      <header class="w3-container w3-red w3-center" style="padding:128px 16px">
          <h1 class="w3-margin w3-jumbo">{{ post.title }}</h1>
          <p class="w3-medium">Escrito por <a href="#">{{ post.user_first_name }} {{ post.user_last_name }}</a></p>
      </header>

      <!-- This is the Post -->
      <div class="w3-row-padding w3-padding-64 w3-container">
          <div class="w3-content">
              {{ post.body }}
          </div>
      </div>

      <!-- This is the Comments -->
      <div class="w3-container">
          <h5>Comentarios Recientes</h5>

          {% for comment in comments %}

              <div class="w3-row">
                  <div class="w3-col m2 text-center">
                      <img class="w3-circle" src="/img/users/{{ comment.author_img }}" style="width:96px;height:96px">
                  </div>
                  <div class="w3-col m10 w3-container">
                      <h4>{{ comment.author }} <span class="w3-opacity w3-medium">{{ comment.date_created }}</span></h4>
                      <p>{{ comment.body }}</p>
                      <br>
                  </div>
              </div>
          {% endfor %}

      </div>
      <hr/>
      <div class="w3-panel">
          <form  method="post">
              <textarea placeholder="Escribe un comentario..." class="w3-input w3-border" name="comment_body" style="resize:none;" rows="4" ></textarea>
              <input class="w3-button w3-margin-top w3-blue w3-hover" type="submit" value="Enviar Comentario">
          </form>
      </div>
      <hr/>
  {% endblock %}
